<div
    class="min-h-screen text-white overflow-x-hidden"
    #homeContainer>

    <!-- Interactive Hero Section -->
    <section #heroSection
        class="hero-interactive relative min-h-screen flex items-center justify-center overflow-hidden"
        [@heroAnimation]>

        <div class="flex items-center justify-center min-h-screen p-4 w-full">
            <div
                class="w-full md:max-w-1/2 bg-slate-800/90 rounded-2xl shadow-2xl p-8 border-white border-r-2 border-b-2 ">
                <!-- Title -->
                <h2
                    class="text-2xl font-semibold text-white text-center mb-8">{{
                    'AUTH.LOGIN.TITLE' | translate }}</h2>

                <!-- Form -->
                <form [formGroup]="loginForm"
                    (ngSubmit)="onSubmit()" class="space-y-6">

                    <!-- Email Field -->
                    <div class="relative">
                        @let email = loginForm.get('email');
                        <input
                            type="email"
                            id="email"
                            name="email"
                            formControlName="email"
                            required
                            class="block px-4 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-full border border-slate-600 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-400 peer"
                            placeholder=" " />
                        <label
                            for="email"
                            class="absolute text-sm text-white duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-transparent peer-focus:bg-cyan-400 peer-focus:rounded-4xl peer-focus:text-black px-2 peer-focus:px-2 pe  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-3">
                            {{ 'AUTH.LOGIN.EMAIL' | translate }}
                        </label>
                    </div>
                    @if (email?.errors &&
                    email?.touched) {
                    <div
                        class="flex p-4 my-4 text-sm text-red-500 rounded-lg bg-main-000 "
                        role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <span class="font-medium">Ensure that these
                                requirements are
                                met:</span>
                            <ul class="mt-1.5 list-disc list-inside capitalize">
                                @if (email?.getError('required')) {
                                <li>{{ 'AUTH.LOGIN.ERRORS.REQUIRED' | translate
                                    }}</li>
                                }
                                @else if (email?.getError('email')) {
                                <li>{{ 'AUTH.LOGIN.ERRORS.EMAIL' | translate
                                    }}</li>
                                }

                            </ul>
                        </div>
                    </div>
                    }

                    <!-- Password Field -->
                    <div class="relative">
                        @let password = loginForm.get('password');
                        <input
                            type="password"
                            id="password"
                            name="password"
                            formControlName="password"
                            required
                            class="block px-4 pb-2.5 pt-4 w-full text-sm text-white bg-transparent rounded-full border border-slate-600 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-400 peer"
                            placeholder=" " />
                        <label
                            for="password"
                            class="absolute text-sm text-white duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-transparent peer-focus:bg-cyan-400 peer-focus:rounded-4xl peer-focus:text-black px-2 peer-focus:px-2 pe  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-3">
                            {{ 'AUTH.LOGIN.PASSWORD' | translate }}
                        </label>
                    </div>

                    @if (password?.errors &&
                    password?.touched) {
                    <div
                        class="flex p-4 my-4 text-sm text-red-500 rounded-lg bg-main-000 "
                        role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <span class="font-medium">Ensure that these
                                requirements are
                                met:</span>
                            <ul class="mt-1.5 list-disc list-inside capitalize">
                                @if (password?.getError('required')) {
                                <li>{{ 'AUTH.LOGIN.ERRORS.REQUIRED' | translate
                                    }}</li>
                                }
                                @else if (password?.getError('minlength')) {
                                <li>{{ 'AUTH.LOGIN.ERRORS.MIN_LENGTH' |
                                    translate }}</li>
                                }
                                @else if (password?.getError('pattern')) {
                                <li>{{ 'AUTH.LOGIN.ERRORS.PASSWORD_PATTERN' |
                                    translate }}</li>
                                }

                            </ul>
                        </div>
                    </div>
                    }

                    <!-- Submit Button -->
                    <button
                        [ngClass]="{'disabled': loginForm.invalid || loginForm.pristine}"
                        class="md:w-1/2 w-2/3 block mx-auto py-3 mb-4 cursor-pointer hover:scale-105 transition-all duration-300 
                         bg-cyan-300 hover:bg-cyan-400 text-slate-900 font-medium rounded-full mt-8 
                         shadow-lg hover:shadow-cyan-400/25">
                        {{ 'AUTH.LOGIN.SUBMIT' | translate }}
                    </button>
                    <p class="my-0 text-center text-2xl">{{ 'AUTH.LOGIN.OR' |
                        translate }}</p>
                    <button type="button" (click)="discordLogin()"
                        class="md:w-1/2 w-2/3 block mx-auto py-3  cursor-pointer hover:scale-105 transition-all duration-300 
                         bg-cyan-300 hover:bg-cyan-400 text-slate-900 font-medium rounded-full mt-4 
                         shadow-lg hover:shadow-cyan-400/25">
                        {{ 'AUTH.LOGIN.LOGIN_DISCORD' | translate }} <i
                            class="fa-brands fa-discord ms-2 text-dark-blue"></i>
                    </button>
                </form>

                <!-- Login Link -->
                <p class="text-center text-gray-400 text-sm mt-6">
                    {{ 'AUTH.LOGIN.DONT_HAVE' | translate }}
                    <a routerLink="/register"
                        class="text-cyan-300 hover:text-cyan-400 transition-colors duration-200">
                        {{ 'AUTH.LOGIN.REGISTER_NOW' | translate }}</a>
                </p>
            </div>
        </div>

    </section>

</div>
